* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../../assets/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  /* Set the font weight for Rubik Black */
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Rubik-Regular" !important;
    position: relative;
  z-index: -111;
}
