.footer {
    padding: 158px 47px;
    background-color: var(--background-footer);

    .content {
        color: var(--on-primary);
        justify-content: center;
        display: grid;
        gap: 150px;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;

        a {
            text-decoration: none;
            color: var(--on-primary);
        }

        h4 {
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .gruop {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        .requst-demo {
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
            color: var(--background-header);
        }

        .email {


            input {
                width: 390px;
                height: 67px;
                border-radius: 34px;
                padding: 20px;
                border: none;
                outline: none;
            }

            button {
                width: 215px;
                height: 67px;
                background-color: var(--background-header);
                border: none;
                border-radius: 34px;
                color: var(--on-primary);
                position: relative;
                top: -91px;
                left: 177px;
            }
        }
    }

    .seprator-footer {
        width: 100%;
        height: 1px;
        background-color: var(--on-primary);
    }

    .policy-footer {
        padding-top: 51px;
        padding-bottom: 51px;
        color: var(--on-primary);
        opacity: 40%;
    }

}

@media (max-width: 828px) {
    .footer {
        .content {
            display: flex;
            flex-direction: column;

            .email {


                input {
                    width: 200px;
                    height: 67px;
                    border-radius: 34px;
                    padding: 20px;
                    border: none;
                    outline: none;
                }

                button {
                    width: 150px;
                    height: 67px;
                    background-color: var(--background-header);
                    border: none;
                    border-radius: 34px;
                    color: var(--on-primary);
                    position: relative;
                    top: -91px;
                    left: 150px;
                }
            }
        }

    }
}