:root {}

body {
  --primary: #3477b2;
  --secoundry: #19554B;
  --on-primary: #fff;
  --background-header: #2F8E81;
  --on-background: #222;
  --background-footer: #19554B;
  --paragraph: #9A9A9A;
  --success: #13db6d;
  --error: #db1313;

}